<div>
  <h2 class="font-bold text-2xl sm:text-4xl mb-2 text-slate-800">Add an author</h2>
  <p class="text-slate-500">Only the first name is required.</p>
</div>
<div class="flex flex-col">
  <label for="author-image">Image url:</label>
  <input type="text" name="image" id="author-image" class="appearance-none outline-none border border-slate-300 py-1 px-2 rounded-md">

  <label for="first-name">First name*:</label>
  <input type="text" name="first_name" id="first-name" required class="appearance-none outline-none border border-slate-300 py-1 px-2 rounded-md">

  <label for="last-name">Last name:</label>
  <input type="text" name="last_name" id="last-name" class="appearance-none outline-none border border-slate-300 py-1 px-2 rounded-md">

  <label for="author-bio">Bio:</label>
  <textarea name="bio" id="author-bio" class="appearance-none outline-none border border-slate-300 py-1 px-2 rounded-md"></textarea>
</div>