<div>
  <h2 class="font-bold text-2xl sm:text-4xl mb-2 text-slate-800">Add a genre</h2>
  <p class="text-slate-500">Please make sure to capitalize the first letter</p>
</div>
<div class="flex flex-col">
  <label for="genre-name">Genre name:</label>
  <input type="text" name="genre" id="genre-name" required class="appearance-none outline-none border border-slate-300 py-1 px-2 rounded-md">
</div>