<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="bg-slate-100 flex h-svh">
  <%- include('./partials/header.ejs') %>

  <main class="p-4 sm:p-8 overflow-scroll">
    <h2 class="mt-8 mb-4 text-4xl text-slate-400">Browse Books</h2>

    <div class="flex gap-8 flex-wrap justify-center sm:justify-start">
      <% books.map(book => { %>
      <%- include('../views/partials/book.ejs', {book}) %>
      <% }) %>
    </div>
  </main>
</body>

</html>